.userInfo {
  @apply p-12;
  @apply md:flex md:justify-center md:px-16;
}

.main {
  @apply flex mb-9;
  @apply md:mb-0;
}

.mainInfo {
  @apply flex-1 flex flex-col;
  @apply md:ml-28;
  margin-left: 2.5rem;
}

.id {
  margin-bottom: 1.2rem;
  @apply md:mb-6;
}

.title {
  font-size: 2.2rem;
}

.sub {
  @apply mb-9;
  @apply md:mt-9;
}

.name {
  @apply mb-1;
}

.buttons {
  @apply flex;
  button:first-of-type {
    @apply flex-1 mr-3;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
