@import '@assets/styles/variables', '@assets/styles/mixins';

.nav {
  flex: 1;
  @include flex-right;
}

.nav > *,
.buttons > * {
  margin-left: $gap-lg;
}

.buttons {
  @include flex-center;
  margin-left: 0;
}
