@import '@assets/styles/variables';

.input {
  display: block;
  width: $form-el-width;
  height: $input-height;
  padding: 0 $gap-sm * 2;
  background-color: $gray-200;
  border: 1px solid $gray-300;
  border-radius: $form-el-radius;
  color: $gray-500;
  outline: none;
  &::placeholder {
    color: $gray-500;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
