.input {
  @apply block rounded-md px-3;
  width: 26.8rem;
  height: 3.8rem;
  background-color: var(--gray-200);
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  outline: none;
  &::placeholder {
    @apply font-light;
    color: var(--gray-500);
    font-size: 1.2rem;
  }
}
