@import '@assets/styles/variables', '@assets/styles/mixins';

.button {
  @include flex-center;
  height: $form-el-height;
  padding: 0 $gap-sm;
  border-radius: $form-el-radius;
}

.wide {
  width: $form-el-width;
}

.filled {
  background-color: $blue;
  &.inactive {
    background-color: $blue-inactive;
    cursor: default;
  }
}

.outlined {
  border: 1px solid $gray-300;
}
