// Color
$white: #fff;
$blue: #0095f6;
$blue-inactive: rgba(0, 149, 246, 0.3);
$gray-200: #fafafa;
$gray-300: #dbdbdb;
$gray-400: #8e8e8e;
$gray-500: #797979;
$black: #262626;

// Gap
$gap-sm: 0.4rem;
$gap: 2rem;

// Size
$button-width-wide: 26.8rem;
$button-height: 3.2rem;
$button-radius: 0.4rem;
