// Color
$white: #fff;
$gray-200: #fafafa;
$gray-300: #dbdbdb;
$gray-400: #8e8e8e;
$gray-500: #797979;
$black: #262626;
$blue: #0095f6;
$blue-inactive: rgba(0, 149, 246, 0.3);

// Gap
$gap-sm: 0.4rem;
$gap: 2rem;

// Size
$form-el-width: 26.8rem;
$form-el-radius: 0.4rem;
$button-height: 3.2rem;
$input-height: 3.8rem;
